RewriteEngine On

# If the requested resource is not a file...

RewriteCond %{REQUEST_FILENAME} !-f

# ...and is not a directory...

RewriteCond %{REQUEST_FILENAME} !-d

# ...then rewrite the request to index.html

RewriteRule ^ /index.html [L]
